{% extends "global/base_dashboard.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'classroom:quiz_change_list' %}">Minhas Avaliações</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ quiz.name }} </li>
    </ol>
  </nav>
  
  <div class="col-md-12">  
    <div class="row justify-content-md-center">     
      <div class="col-sm-6">
        
        <div class="shadow p-3 mb-5 bg-white rounded" class="card">
          <h1 class="">{{ quiz.name }}</b></h1>
          <div class="d-flex flex-row-reverse">
            {% comment %} <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="btn btn-primary float-right">Visualizar resultados  <i class="fas fa-eye"></i></a> {% endcomment %}
          </div>
          <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form.as_p}}
              
              <button type="submit" class="btn btn-success">Salvar <i class="fas fa-check-circle"></i></button>
            </form>   
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="shadow p-3 mb-5 bg-white rounded" class="card">
          <div class="card-body"><div class="card-title text-muted">
            <p class="float-right"> Questões Adicionadas: {{ quiz.questions.count }}</p>
            
            <a href="{% url 'classroom:question_add' quiz.pk %}" class="btn btn-primary btn-sm">Adicionar questão <i class="fas fa-plus-square"></i></a>
            
          </div>
            <div class="card">
              
              <div class="card-header">
                <div class="row">
                  <div class="col-8" >
                    <strong>Questões</strong>
                  </div>
                  <div class="col-4">
                    <strong>Opções de Respostas</strong>
                  </div>
                </div>
              </div>
              <div class="list-group list-group-flush list-group-formset">
                {% for question in questions %}
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-9">
                        <a href="{% url 'classroom:question_change' quiz.pk question.pk %}">{{ question.text }}</a>
                      </div>
                      <div class="col-3">
                        {{ question.answers_count }}
                      </div>
                    </div>
                  </div>
                {% empty %}
                  <div class="list-group-item text-center">
                    <p class="text-muted font-italic mb-0">Você ainda não criou nenhuma pergunta. Vá em frente e <a href="{% url 'classroom:question_add' quiz.pk %}">adicione a primeira pergunta</a>.</p>
                  </div>
                {% endfor %}
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  

<br><br><br>
{% endblock %}