{% extends 'newbase.html' %}
{% load static %}
{% block scripts_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/newbase.css' %}">

{% endblock scripts_head %}
{% block content %}


<div class="col-md-12 mt-4">
    <div class="row justify-content-md">
        <div class="col-sm-6">
        <div class="shadow p-3 mb-5 bg-white rounded" class="card">
            <div class="card-body">
                <h1 class="h3 mb-0 text-gray-800">Ranking de Pontuação:</h1><br>
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr class="">
                                <th>Classificação <i class="fas fa-stream"></i></th>
                                <th>Nome <i class="fas fa-users"></i></th>
                                <th>Pontuação <i class="fas fa-dot-circle"></i></th>
                                <th>Patamar <i class="fas fa-joint"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        
                        {% for quiz_profile in top_quiz_profiles %}
                        
                            {% if quiz_profile.is_student %}    
                                   
                                <tr >
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'students:return_profile' quiz_profile.pk %}">{{ quiz_profile.username }}</a></td>                
                                    <td>{{ quiz_profile.points }}</td>

                                    
                                    <td> 
                                    
                                    {% if quiz_profile.level == 1%}
                                        <img src="{% static 'img/bronze.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                                    {% elif quiz_profile.level == 2%}
                                        <img src="{% static 'img/prata.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                                    {% elif quiz_profile.level == 3%}
                                        <img src="{% static 'img/ouro.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>  
                                    {% elif quiz_profile.level == 4%}
                                        <img src="{% static 'img/diamante.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                                    {% elif quiz_profile.level == 5%}
                                        <img src="{% static 'img/ametista.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                                    {% elif quiz_profile.level == 6%}
                                        <img src="{% static 'img/tumalina.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                                    {% elif quiz_profile.level == 7%}
                                        <img src="{% static 'img/ruby.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                                    {% elif quiz_profile.level == 8%}    
                                        <img src="{% static 'img/esmeralda.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>    
                                    {% endif %}
                                     {{ quiz_profile.level }}
                                    </td>
                                    
                                    
                                </tr>
                                
                            {% endif %}    
                        {% endfor %}
                                
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        
        
       


        <div class="col-sm-6">
            <div class="shadow p-3 mb-5 bg-white rounded" class="card">
                <div class="card-body">
            <h1 class="h3 mb-0 text-gray-800">Ranking de Desafios Concluídos:</h1><br>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="">
                            <th>Classificação  <i class="fas fa-stream"></i></th>
                            <th>Nome <i class="fas fa-users"></i></th>
                            <th>Desafios Concluídos <i class="fas fa-check-double"></i></th>
                            <th>Patamar <i class="fas fa-joint"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    
                    {% for top_desafio in top_desafios %}
                    
                        {% if top_desafio.is_student %}   
                        <tr>

                            <td>{{ forloop.counter }}</td>
                            
                            <td><a href="{% url 'students:return_profile' top_desafio.pk %}">{{ top_desafio.username }}</a></td>
                            <td>{{ top_desafio.total_desafio_concluidos }}</td>
                            <td>
                            
                            {% if top_desafio.level == 1%}
                                <img src="{% static 'img/bronze.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                            {% elif top_desafio.level == 2%}
                                <img src="{% static 'img/prata.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                            {% elif top_desafio.level == 3%}
                                <img src="{% static 'img/ouro.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>  
                            {% elif top_desafio.level == 4%}
                                <img src="{% static 'img/diamante.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                            {% elif top_desafio.level == 5%}
                                <img src="{% static 'img/ametista.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                            {% elif top_desafio.level == 6%}
                                <img src="{% static 'img/tumalina.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                            {% elif top_desafio.level == 7%}
                                <img src="{% static 'img/ruby.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>
                            {% elif top_desafio.level == 8%}    
                                <img src="{% static 'img/esmeralda.png' %}" class="img-fluid" alt="Patamar" width="40" height="40"> </h3>    
                            {% endif %}
                            {{ top_desafio.level }}

                            </td>
                        </tr>
                        {% endif %}   
                    {% endfor %}
                            
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
    

    
    

<br><br><br><br>

{% endblock %}


