{% extends "global/base_dashboard.html" %}

{% load static %}

{% block title %}Avaliações Respondidas{% endblock %}

{% block content %}


<div class="col-md-12">
  <div class="row justify-content-md-center">    
    <div class="col-sm-10">
      <br>
      <h1>Avaliações Respondidas </h1>
      <br>
      <p> Aqui são encontras todas as Avaliações que foram Respondidas, juntamente com as suas Notas!   </p>

<div class="col-md-12 mt-4">
  <div class="shadow p-3 mb-5 bg-white rounded" "card">
      <div class="card-body">
        
      <div class="table-responsive">
        <table class="table">
            <thead>
                <tr >
                  <th>Avaliação <i class="fas fa-book-open"></i></th>
                  <th>Período <i class="fas fa-thumbtack"></i></th>
                  <th>Nota <i class="fas fa-poll-h"></i></th>
                  <th scope="col"class="text-success"> Acertou  <i class="fas fa-thumbs-up"></i></th>
                  <th scope="col"class="text-danger"> Errou  <i class="fas fa-thumbs-down"></i></th>
                  <th>Suas Respostas <i class="far fa-eye"></i></th>
                </tr>
            </thead>
            <br>
            <tbody>
              {% for taken_quiz in taken_quizzes %}
                  <tr>
                    <td>{{ taken_quiz.quiz.name }}</td>
                    <td>{{ taken_quiz.quiz.subject.get_html_badge }}</td>
                    <td>{{ taken_quiz.score }}</td>
                    <td>{{ taken_quiz.correct_answers }}</td>
                    <td>{{ taken_quiz.incorrect_answers }}</td>
        
                    <td><a class="btn btn-success btn-sm" href="{% url 'classroom:student_answer' taken_quiz.pk %}">Visualizar</a></td>
                  </tr>
                {% empty %}
                  <tr>
                    <td class="text-center font-italic" colspan="6">Você ainda não terminou nenhuma Avaliação.</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>   
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>






<br><br>
<br><br>

{% endblock %}
